/*************************Variables*******************************/

$main-color: forestgreen;
$main-dark-color: #066b12;
$light-gray: #e6e6e6;
$dark-gray: #696969;  //989898
$custom-red: #f73939;

%box-shadow-radius {
  border-radius: 3px;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2),
               2px -2px 8px rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}
button {
  background-image: linear-gradient(to top, #f73939, #ffe256);
  color: white;
  border: none;
  font-weight: bold;
  outline: none;
}
input {
  outline: none;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  margin: 0;
  margin-bottom: 15px;
}
p {
  color: $dark-gray;
  font-family: Georgia, serif;
  font-size: 1.1em;
  word-wrap: break-word;
  line-height: 1.2;
}
a, a:hover, a:visited, a:active, a:focus {
  color: white;
  text-decoration: none;
}

/*****************************Top-Header********************************/
.top-header {
  text-align: center;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.top-container {
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.logo {
  width: 100px;
  height: auto;
}
.logo ~ figcaption {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2em;
}
.logo-contacts {
  font-size: 0.9em;
  p {
    margin: 3px;
  }
}
.registration-buttons {
  button {
    padding: 8px 10px;
    width: 70px;
  }
}
#sign-up-button {
  background-image: linear-gradient(to top, #f73939, #ffe256);
}

#log-in-button {
  background-image: linear-gradient(to top, $dark-gray, $light-gray);
}

/****************************Bottom-Header****************************/
.bottom-header {
  background: $main-color;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.sticky + main {
  padding-top: 90px;
}
.top-nav {
  margin-bottom: 0;
  padding-left: 0;
  margin: 0 -15px;
  li {
    display: inline-block;
    padding: 17px 5px;
    transition: background-color 1s;
    margin-right: -4px;
    z-index: 100;
    &:hover {
      background-color: $main-dark-color;
    }
    a {
      color: #fff;
      text-decoration: none;
      padding: 15px 8px;
    }
  }
}
.top-nav li.active {
  background-color: $main-dark-color;
}
li.item-7 {
  padding: 9px;
  &:hover {
    background-color: $main-color !important;
  }
}
.hamburger-menu {
  display: none;
  padding: 3px;
  color: white;
  font-size: 2em;
  background: transparent;
}
.search-bar {
  input[type="text"] {
    margin-right: -4px;
    padding: 7px;
    width: 130px;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
    box-shadow: inset 2px 2px 9px rgba(0, 0, 0, 0.3),
                inset -2px -2px 9px rgba(0, 0, 0, 0.1);
    border: 1px solid $main-color;
    &:focus {
      width: 100%;
    }
  }
  button {
    padding: 8px 12px;
  }
}

/***********CART************/
.top-cart {
  background: transparent;
  font-size: 31px;
  position: absolute;
  right: 50px;
  top: 5px;
  transition: all 0.5s;
  &:hover {
    transform: rotateZ(360deg);
  }
  p {
    font-size: 15px;
    color: red;
    position: absolute;
    left: 17px;
    top: 9px;
    font-weight: bold;
  }
}
/****************************Pop-up-form****************************/
#pop-up-registration-form, #pop-up-login-form {
  display: none;
}
.pop-up-form-wrapper {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  text-align: center;
  color: #000;
}
.pop-up-form {
  background: #fff;
  border: $light-gray;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 40px;
  border-radius: 3px;
  position: relative;
  top: 10%;
  h3 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 20px;
  }
  label {
    display: inline-block;
    width: 27%;
    color: #000;
  }
  input {
    display: inline-block;
    width: 62%;
  }
  input[type="submit"] {
    background: $main-color;
    box-shadow: none;
    border: 1px solid $main-color;
    color: #fff;
    margin: 15px;
  }
}
.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: forestgreen;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  padding: 6px 10px;
  transition: background 0.5s;
}

.close-button:hover {
  background: red;
}

/*******************************Interactive********************************/
section.interactive {
  max-width: 1100px;
  aside {
    flex: 1 1 170px;
    background: white;
    border-radius: 0px;
    color: #575757;
    border-right: 2px solid $light-gray;
    border-left: 2px solid $light-gray;
    p {
      color: #575757;
    }
  }
}
.carousel-wrapper {
  flex: 8 1 300px;
  padding: 30px 15px;
}

/************************REQUEST_APPOINTMENT************************/
form.request-appointment {
  margin-top: 30px;
  text-align: center;
  padding: 40px;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  background: url("../images/green_leaves.jpg") repeat bottom;
  overflow: hidden;
  button {
    padding: 12px 15px;
    background-image: linear-gradient(to top, #f73939, #ffe256);
  }
}
/**************************Main***************************/
.block-wrapper {
  margin-top: 40px;
}
.main-block {
  padding: 0 30px 0 15px;
  h1 {
    border-bottom: 1px solid lightgray;
  }
}

.sidebar {
  background: $main-color;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  margin-top: 20px;
}
.office-hours {
  width: 100%;
  h2 {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  td {
    padding: 5px 9px 10px;
  }
  th {
    padding: 5px 9px 10px;
  }
}

/************************SERVICES AND PRICES_PAGE*************************/
.services-wrap {
  text-align: justify;
  h1 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
  }
}
.services {
  max-width: 800px;
  margin: 0 auto;
  li {
    margin: 50px 0;
    border: 1px solid $main-color;
  }
}
.service {
  padding: 0 20px 20px;
  background: #fff;
  color: $main-color;
  width: 100%;
  margin-bottom: 10px;
  span {
    width: 90px;
    display: block;
    position: relative;
    top: -30px;
    margin: 0 auto;
    background: #fff;
    img {
      width: 50px;
      height:50px;
      transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
    }
  }
  &:hover {
  color: $main-dark-color;
  }
}
.service-description {
  width: 100%;
  padding: 5px 30px;
  display: none;
  margin-bottom: 10px;
}
.active-service {
///////////////////////////////////////
//////////////////////////  class accordion tozche
}
.shown {
  display: block !important;
}

/************************DOCTORS_PAGE*************************/
.doctors {
  text-align: center;
  h1 {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    & ~ p {
      margin: 10px auto;
    }
  }
  p {
    padding-top: 10px;
    text-align: justify;
    max-width: 800px;
    margin: 10px;
  }

}
.doctors-list {
  margin-bottom: 40px;
  li {
    display: inline-block;
    width: 250px;
    margin: 18px;
    text-align: center;
    .doctor-photo {
      width: 100%;
      height: 205px;
      img {
        padding: 25px;
        height: 100%;
      }
    }
    .doctor-info {
      h3 {
        background: $main-color;
        color: white;
        padding: 7px 15px;
        font-family: Georgia, serif;
        margin-top: 0;
      }
      p {
        color: $dark-gray;
        padding-top: 0;
        font-style: italic;
      }
    }
  }
}
/**************Styles for flipping cards**********/
.flip-container {
  perspective: 1000;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container, .front, .back {

  height: 312px;
}
.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  box-shadow: -5px -3px 15px 2px rgba(0,0,0,0.1);
  border: 1px solid lightgray;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
}

/*************************SHOP_PAGE**************************/
.shop {
  max-width: 1000px;
}
.shop-list {
  margin: 0 auto;
  text-align: center;
  li {
    display: inline;
    &+li:before {
      content: "|";
      padding: 10px;
    }
    a {
      color: $dark-gray;
      transition: all 0.5s;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }
}
.products-grid {
  margin: 40px -20px 40px 0;
  display: flex;
  flex-flow: row wrap;
  .product-item {
    width: 25%;
    position: relative;
  }
}
.product {
  border: 1px solid $light-gray;
  margin: 20px 20px 0 0;
  background: white;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.1),
               1px -1px 2px rgba(0,0,0,0.1);
  padding: 15px;
  position: relative;
  p {
    font-weight: bold;
    color: black;
  }
  .product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }
  h4 {
    text-align: justify;
    margin-bottom: 15px;
    font-size: 1em;
    line-height: 1.2;
    overflow: hidden;
    height: 48px;
  }
}
.price-wrapper {
  font-size: 1.4em;
  text-align: center;
  p {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 0;
    color: black;
  }
  .buy-button {
    display: inline-block;
    padding: 5px 15px;
    width: 49%;
  }
}
.hidden-description {
  display: none;
  position: absolute;
  z-index: 200;
  background: #fff;
  border: 1px solid $light-gray;
  margin: 0 20px 20px 0;
  padding: 15px 10px 25px;
  text-align: justify;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.1),
              1px -1px 2px rgba(0,0,0,0.1);
  span {
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  p {
    color: black;
  }
}
.shown-description {
  display: block;
}
/********PAGINATION*******/
.pagination-nav {
  text-align: center;
}
/*************************CART_PAGE**************************/
section.cart {
  max-width: 1200px;
  h1 {
    padding: 15px 0 8px;
    border-bottom: 1px solid $light-gray;
  }
  h3 {
    background: $main-color;
    color: white;
    padding: 10px;
    margin-bottom: 0;
  }
}
.order-form {
  div {
    margin: 20px auto;
    &:last-child {
      text-align: center;
    }
  }
  input {
    display: inline-block;
    width: 65%;
  }
  button {
    padding: 10px 10px;
    display: inline-block;
    margin: 30px auto;
    width: 115px;
    margin-left: 10px;
  }
  .return-home-button {
    background-image: linear-gradient(to top,
                      #696969, #e6e6e6);
  }
  label {
    color: black;
    display: inline-block;
    width: 32%;
    span {
      color: #af0002;
    }
  }
}
//////////////////////////////

.order-list {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid $light-gray;
  margin-bottom: 0;
}
.order-item {
  display: flex;
  flex-flow: row nowrap;
  & > div {
    padding: 20px;
    border: 1 px solid $light-gray;
  }
  .product-photo {
    width: 25%;
    img {
      width: 100%;
    }
  }
  .product-description {
    width: 50%;
  }
  .product-price {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    button {
      background: transparent;
      color: #c3c3c3;
      &:hover {
        color: $dark-gray;
      }
    }
    div {
      padding: 10px 0;
    }
  }
}
.total-sum-wrapper {
  text-align: center;
  padding: 15px;
  background: lightgray;
  color: black;

  span {
    display: inline-block;
  }
  .total-sum {
    font-size: 1.5em;
    padding-left: 10px;
  }
}
/*************************CONTACTS_PAGE**************************/
.contacts {
  margin-bottom: 40px;
  h1 {
    padding: 15px 0 8px;
    border-bottom: 1px solid $light-gray;
  }
  p {
    padding: 10px 15px 5px;
  }
  iframe {
    max-width: 100%;
  }
}

#up-button {
  background: $main-color;
  border-radius: 50%;
  position: fixed;
  display: none;
  right: 30px;
  bottom: 80px;
  z-index: 999;
  border: 5px solid #fff;

  a {
    font-size: 25px;
    font-weight: bold;
    padding: 11px 22px;
    display: block;
  }
}
.show-up-button {
  display: block !important;
}
  /*************************FOOTER**************************/
footer {
  margin-top: 40px;
}
  .top-footer {
    background: #2b2b2b;
    align-items: center;
    padding: 15px 0;
  }
  .flex-child {
    flex: 1 1 200px;
    text-align: center;
  }
  .social-list {
    padding-left: 0;
    li {
      display: inline-block;
      padding: 7px;
      font-size: 1.7em;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.1);
        color: $light-gray;
      }
    }
  }
  .footer-nav {
    padding-left: 0;
    li {
      padding: 7px;
      a {
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s ease;
        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .copyright-footer {
    p {
      padding: 15px;
      margin: 0;
    }
  }

  /*************************MEDIA*************************/
  @media (max-width: 980px) {
    .top-cart {
      right: 20px;
    }
    .hamburger-menu {
      margin-right: 65px;
    }
  }
  @media (max-width: 880px) {
    .top-nav li {
      display: block;
      background: $main-color;
      position: absolute;
      width: 100%;
      transition: 1.5s;
      margin: 0;
    }
    .top-nav li a {
      padding: 15px 70px;
    }
    .hamburger-menu {
      display: block;
      width: 70px;
      float: right;
      padding: 6px;
      font-size: 2.2em;
      margin-right: 50px;
    }
    .item-1 {
      top: 54px;
      right: 900px;
    }
    .item-2 {
      top: 106px;
      right: 1050px;
    }
    .item-3 {
      top: 159px;
      right: 1200px;
    }
    .item-4 {
      top: 212px;
      right: 1400px;
    }
    .item-5 {
      top: 265px;
      right: 1600px;
    }
    .item-6 {
      top: 318px;
      right: 1800px;
    }
    .item-7 {
      top: 371px;
      right: 2000px;
    }
    .item-to-hide {
      right: 0;
    }
    .pop-up-form input[type="text"]:focus {
      width: 70%;
    }
    .order-form div {
      width: 100%;
    }
  }
  @media (max-width: 768px) {

  }

  @media (max-width: 767px) {
    .hamburger-menu {
      margin-right: 45px;
    }
    .products-grid .product-item {
      width: 33.333%;
    }
  }
  @media (max-width: 560px) {
    .products-grid .product-item {
      width: 50%;
    }
    .product h4 {
      height: 70px;
      font-size: 1.8em;
    }
    .price-wrapper p {
      font-size: 1.6em;
    }
    .shop-list li a {
      font-size: 1.5em;
    }
    .price-wrapper .buy-button {
      padding: 10px 15px;
    }
    .close-button {
      top: 0;
      right: 3px;
      background: white;
      color: red !important;
      font-size: 2em;
    }
    .close-button:hover {
      background: #fff;
    }
    .pop-up-form {
      border-radius: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .bottom-header {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    .logo-contacts {
      display: none;
    }
    .products-grid .product-item {
      width: 100%;
    }
    .products-grid {
      margin-bottom: 100px;
    }
  }

